* {
	margin: 0;
	box-sizing: border-box;
}

.block {
	display: block;
}
.canvasContainer {
	background-color: rgb(97, 199, 60);
}

.centerContainer {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.info {
	/* background-color: #e0f2f1; */
	/* background-color: #80cbc4; */
	/* background-color: #c8c8c8; */
	background-color: #ffffff;
	min-width: 400px;
	max-width: 90%;
	min-height: 700px;
	border-radius: 7px;
}

.infoTitulo {
	text-align: center;
	margin-left: 4%;
	margin-right: 10%;
	font-size: 4rem;
	font-weight: 500;
}

.infoContenido {
	margin-left: 4%;
	margin-right: 10%;
}

ul {
	margin-left: 4%;
	margin-right: 10%;
}

.UIContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c8c8c8;
	width: 100%;
}

.buttonsGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}
